bot-ui-flow.json
[{"id":"88bd2a91.94d338","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"bef626f6.8d23","type":"function","z":"88bd2a91.94d338","name":"User input","func":"msg.payload=msg.payload.chat;\n\nreturn msg;","outputs":1,"noerr":0,"x":216.5,"y":97.77777862548828,"wires":[["3efc3757.1fc5"]]},{"id":"3efc3757.1fc5","type":"watson-conversation-v1","z":"88bd2a91.94d338","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":369.5,"y":97.77777862548828,"wires":[["6102c72.e0a0a38"]]},{"id":"6102c72.e0a0a38","type":"switch","z":"88bd2a91.94d338","name":"","property":"payload.output.text","propertyType":"msg","rules":[{"t":"cont","v":"OUT-Sensor","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":522.5,"y":97.77777862548828,"wires":[["a796e134.3da478"],["d113009c.8972b"]]},{"id":"11502dac.fdcdea","type":"ui_form","z":"88bd2a91.94d338","name":"","label":"","group":"79889513.1882ac","order":0,"width":0,"height":0,"options":[{"label":"Chat with me","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":55,"y":96.77777862548828,"wires":[["bef626f6.8d23"]]},{"id":"d113009c.8972b","type":"ui_text","z":"88bd2a91.94d338","group":"79889513.1882ac","order":0,"width":"6","height":"4","name":"","label":"Answer","format":"{{msg.payload.output.text[0]}}","layout":"row-spread","x":379,"y":151.77777862548828,"wires":[]},{"id":"a796e134.3da478","type":"http request","z":"88bd2a91.94d338","name":"GET IoT Data","method":"GET","ret":"txt","url":"https://YOUR-ORGANIZATION-ID.internetofthings.ibmcloud.com/api/v0002/device/types/thermostat/devices/LivingRoomThermo1/events/update","tls":"","x":688.5,"y":90.77777862548828,"wires":[["85be088d.25f2b"]]},{"id":"88bbb0b3.055bd","type":"ui_gauge","z":"88bd2a91.94d338","name":"","group":"cf9d9771.c5b778","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload}}","min":"10","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":976,"y":236.77777862548828,"wires":[]},{"id":"43c9d118.4d3668","type":"ui_template","z":"88bd2a91.94d338","group":"79889513.1882ac","name":"Logo","order":1,"width":"3","height":"3","format":"<img src=\"https://www.ibm.com/watson/ai-assistant/img/icon2.png\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":68.5,"y":220.77777862548828,"wires":[[]]},{"id":"5584de2a.319f48","type":"comment","z":"88bd2a91.94d338","name":"Logo","info":"","x":68.5,"y":171.77777862548828,"wires":[]},{"id":"85be088d.25f2b","type":"json","z":"88bd2a91.94d338","name":"","property":"payload","action":"","pretty":false,"x":751.5,"y":138.77777862548828,"wires":[["4bc266cc.935fe"]]},{"id":"4bc266cc.935fe","type":"base64","z":"88bd2a91.94d338","name":"","action":"b64","property":"payload.payload","x":885.5,"y":138.77777862548828,"wires":[["d4c5fed.4624c8"]]},{"id":"d4c5fed.4624c8","type":"json","z":"88bd2a91.94d338","name":"","property":"payload.payload","action":"","pretty":false,"x":761.5,"y":185.77777862548828,"wires":[["28c279ff.de4ea6"]]},{"id":"28c279ff.de4ea6","type":"function","z":"88bd2a91.94d338","name":"Select temperature","func":"msg.payload = msg.payload.payload.d.temp;\nreturn msg;\n","outputs":1,"noerr":0,"x":925.5,"y":185.77777862548828,"wires":[["88bbb0b3.055bd"]]},{"id":"13983664.521c32","type":"comment","z":"88bd2a91.94d338","name":"Update YOUR credentials","info":"URL:https://<YOURORG>.internetofthings.ibmcloud.com/api/v0002/device/types/thermostat/devices/LivingRoomThermo1/events/update\n\n\nUse basic authentication.\n(From the IoT Platform use)\nUsername: API KEY\nPassword: Authentication token","x":698.388916015625,"y":48,"wires":[]},{"id":"79889513.1882ac","type":"ui_group","z":"","name":"Chat","tab":"cec008ca.d336d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cf9d9771.c5b778","type":"ui_group","z":"","name":"Last value","tab":"cec008ca.d336d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cec008ca.d336d8","type":"ui_tab","z":"","name":"IoT Demo","icon":"dashboard"}]