bot-ui-flow.json
[{"id":"68c527fc.e4aa8","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"e388c9d2.027bb8","type":"function","z":"68c527fc.e4aa8","name":"User input","func":"msg.payload=msg.payload.chat;\n\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":92,"wires":[["429e2f37.0cecb"]]},{"id":"429e2f37.0cecb","type":"watson-conversation-v1","z":"68c527fc.e4aa8","name":"","workspaceid":"68ce8773-c501-4b21-94a9-c6e16573d868","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":390,"y":92,"wires":[["e1fccbcc.87be18"]]},{"id":"e1fccbcc.87be18","type":"switch","z":"68c527fc.e4aa8","name":"","property":"payload.output.text","propertyType":"msg","rules":[{"t":"cont","v":"OUT-Sensor","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":543,"y":92,"wires":[["add1f88e.794e38"],["26bf3d46.2facf2"]]},{"id":"b6300d2a.1f6a18","type":"ui_form","z":"68c527fc.e4aa8","name":"","label":"","group":"da338dbb.6c41e8","order":0,"width":0,"height":0,"options":[{"label":"Chat with me","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","topic":"","x":75.5,"y":91,"wires":[["e388c9d2.027bb8"]]},{"id":"26bf3d46.2facf2","type":"ui_text","z":"68c527fc.e4aa8","group":"da338dbb.6c41e8","order":0,"width":"6","height":"4","name":"","label":"Answer","format":"{{msg.payload.output.text[0]}}","layout":"row-spread","x":399.5,"y":146,"wires":[]},{"id":"2ff1df36.705cc","type":"json","z":"68c527fc.e4aa8","name":"","property":"payload.payload","action":"","pretty":false,"x":948,"y":180,"wires":[["3fb5a4ca.82b894"]]},{"id":"ea93b9a4.e008c8","type":"http request","z":"68c527fc.e4aa8","name":"GET IoT Data","method":"GET","ret":"txt","url":"","tls":"","x":769,"y":133,"wires":[["8bc32c1a.b7144"]]},{"id":"add1f88e.794e38","type":"function","z":"68c527fc.e4aa8","name":"IoT Platform Config","func":"orgId = \"hnlp2d\";\n\ntype = \"phone\";\ndevId =\"iPhone1\";\nevent1 = \"event\";\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.url = \"https://\"+orgId+\".internetofthings.ibmcloud.com/api/v0002/device/types/\"+type+\"/devices/\"+devId+\"/events/\" + event1;\nreturn msg;","outputs":1,"noerr":0,"x":755,"y":85,"wires":[["ea93b9a4.e008c8"]]},{"id":"8bc32c1a.b7144","type":"json","z":"68c527fc.e4aa8","name":"","property":"payload","action":"","pretty":false,"x":938,"y":133,"wires":[["f10cece9.2a21f8"]]},{"id":"f10cece9.2a21f8","type":"base64","z":"68c527fc.e4aa8","name":"","action":"b64","property":"payload.payload","x":1072,"y":133,"wires":[["2ff1df36.705cc"]]},{"id":"3fb5a4ca.82b894","type":"ui_gauge","z":"68c527fc.e4aa8","name":"","group":"5834f694.604d78","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.payload.d.temp}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1115.5,"y":179,"wires":[]},{"id":"2f8bbe32.086b5a","type":"ui_template","z":"68c527fc.e4aa8","group":"da338dbb.6c41e8","name":"Logo","order":1,"width":"3","height":"3","format":"<img src=\"https://www.ibm.com/watson/ai-assistant/img/icon2.png\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":89,"y":215,"wires":[[]]},{"id":"af2d863.f0205f8","type":"comment","z":"68c527fc.e4aa8","name":"Logo","info":"","x":89,"y":166,"wires":[]},{"id":"da338dbb.6c41e8","type":"ui_group","z":"","name":"Chat","tab":"81c7b832.0efc08","order":2,"disp":true,"width":"6","collapse":false},{"id":"5834f694.604d78","type":"ui_group","z":"","name":"Last value","tab":"81c7b832.0efc08","order":3,"disp":true,"width":"6","collapse":false},{"id":"81c7b832.0efc08","type":"ui_tab","z":"","name":"IoT Demo","icon":"dashboard"}]