send-data2ui-flow.json
[{"id":"881ade70.bb7fa","type":"tab","label":"Receive","disabled":false,"info":""},{"id":"17353992.b1bfa6","type":"ibmiot in","z":"881ade70.bb7fa","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":140,"wires":[["b6613e0b.7f4ea","233e2617.d2b052"]]},{"id":"b6613e0b.7f4ea","type":"debug","z":"881ade70.bb7fa","name":"device data","active":false,"tosidebar":true,"console":false,"complete":"true","x":247,"y":208,"wires":[]},{"id":"233e2617.d2b052","type":"function","z":"881ade70.bb7fa","name":"Extract temperature","func":"msg.payload = msg.payload.d.temp;\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":138,"wires":[["1f1325cf.9595e2"]]},{"id":"1f1325cf.9595e2","type":"ui_chart","z":"881ade70.bb7fa","name":"","group":"dc446ef2.ae1cc","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":498.5,"y":139,"wires":[[],[]]},{"id":"dc446ef2.ae1cc","type":"ui_group","z":"","name":"History Data","tab":"81c7b832.0efc08","order":1,"disp":true,"width":"6","collapse":false},{"id":"81c7b832.0efc08","type":"ui_tab","z":"","name":"IoT Demo","icon":"dashboard"}]